fastapi
uvicorn
pydantic
sqlalchemy
python-dotenv
psycopg2-binary
authlib
httpx
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
pymupdf
openai
python-jose[cryptography]
supabase
python-multipart
fastembed